.warihash-widget {
  animation-name: fadein-animation;
  animation-duration: 1s;
  animation-iteration-count: 1;
  transition-timing-function: ease-out;
  width: 100vw; 
  height: 100vh; 
  background: white;
  z-index: 58458348948340; 
  position: absolute;
  top: 0;
  left: 0;
  overflow-x: hidden !important;
}

.widget-fadeout {
  animation-name: fadeout-animation;
  animation-duration: 0.45s;
  animation-iteration-count: 1;
  transition-timing-function: ease-out;
}

.disable-scroll-overflow {
  overflow-y: hidden !important;
  overflow-x: hidden !important;
}

@keyframes fadein-animation {
  0% {
    position: absolute;
    top: -30%;
    left: 0;
    opacity: 0;
  }
  100% {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 1;
  }
}

@keyframes fadeout-animation {
  0% {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 1;
  }
  100% {
    position: absolute;
    top: -30%;
    left: 0;
    opacity: 0;
  }
}

.warihash-close-button {
  z-index: 58458348948341; 
  position: absolute;
  top: 0;
  right: 0;
  padding:0;
  color: #013898;
  font-size: 27px;
  margin-right: 55px;
  margin-top: 10px;
  background: none;
  border: none;
  cursor: pointer;
  transition: 0.5s ease all;
}

.warihash-close-button:hover {
  color: #0e4fc0;
}

:focus { outline:none; }
::-moz-focus-inner { border:0; }